html,body{
	background: #fff;
	margin: 0;
	font-family: Arial, sans-serif;
}
h1{
	text-align: center;
}
.col{
	background: #FFEBEE;
	padding: 10px;
	text-align: center;
	color: #000;
	border: 2px solid #F44336;
}