@media (min-width: 1920px){
	.con span::after{
		content: "1890px width for FullHD 1920+";
		position: relative;
		width: 100%;
		height: auto;
		color: #000;
		margin-top: 10px;
		left: 0;
		top: 0;
		display: block;
	}
}
@media (min-width: 1680px) and (max-width: 1919px){
	.con span::after{
		content: "1650px width";
		display: block;
		margin-top: 10px;
	}
}
@media (min-width: 1440px) and (max-width: 1679px){
	.con span::after{
		content: "1410px width";
		display: block;
		margin-top: 10px;
	}
}
@media (min-width: 1366px) and (max-width: 1439px){
	.con span::after{
		content: "1336px width";
		display: block;
		margin-top: 10px;
	}
}
@media (min-width: 1200px) and (max-width: 1365px){
	.con span::after{
		content: "1170px width";
		display: block;
		margin-top: 10px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.con span::after{
		content: "970px width";
		display: block;
		margin-top: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.con span::after{
		content: "750px width";
		display: block;
		margin-top: 10px;
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.con span::after{
		content: "100% width";
		display: block;
		margin-top: 10px;
	}
}
@media (max-width: 991px){
	p{
		font-size: 0.8em;
	}
}
@media (max-width: 480px){
	.col{
		padding: 10px 0;
	}
	p, .col strong{
		font-size: 0.7em;
	}
	.p-wrapper{
		padding: 5px;
	}
}
